# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [4]:
# procedimento para importar o webdriver e abrir um navegador pelo selenium
from selenium import webdriver
navegador = webdriver.Chrome()
navegador.get("https://www.google.com")

title = navegador.title
print(title)

Google

In [5]:
import pandas as pd
tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [6]:
for linha in tabela.index:
    produto = tabela.loc[linha,"Produto"]
    print(produto)
    produto = produto.replace("ó", "o").replace("ã", "a").replace("ç", "c").replace("ú", "u").replace("é", "e").replace("á", "a")
    link = f"https://www.melhorcambio.com/{produto.lower()}-hoje"
    print(link)
    navegador.get(link)
    preco = navegador.find_element("xpath", '//*[@id="comercial"]').get_attribute("value")
    print(preco)
    preco = preco.replace(".", "").replace(",", ".")
    tabela.loc[linha,"Preço Atual"] = float(preco)
display(tabela)

Milho
https://www.melhorcambio.com/milho-hoje
62,32
Soja
https://www.melhorcambio.com/soja-hoje
136,02
Boi
https://www.melhorcambio.com/boi-hoje
269,60
Petróleo
https://www.melhorcambio.com/petroleo-hoje
373,19
Algodão
https://www.melhorcambio.com/algodao-hoje
384,46
Açúcar
https://www.melhorcambio.com/acucar-hoje
152,82
Café
https://www.melhorcambio.com/cafe-hoje
1.060,65
Ouro
https://www.melhorcambio.com/ouro-hoje
322,29
Trigo
https://www.melhorcambio.com/trigo-hoje
0,00
Tilápia
https://www.melhorcambio.com/tilapia-hoje
9,79

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        62.32      NaN
1      Soja       163.59       136.02      NaN
2       Boi       282.20       269.60      NaN
3  Petróleo       424.37       373.19      NaN
4   Algodão       497.76       384.46      NaN
5    Açúcar       136.23       152.82      NaN
6      Café      1092.87      1060.65      NaN
7      Ouro       321.77       322.29      NaN
8     Trigo      1549.11         0.00      NaN
9   Tilápia         9.05         9.79      NaN

In [7]:
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)
tabela.to_excel("valores_atualizado.xlsx", index = False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        62.32     True
1      Soja       163.59       136.02     True
2       Boi       282.20       269.60     True
3  Petróleo       424.37       373.19     True
4   Algodão       497.76       384.46     True
5    Açúcar       136.23       152.82    False
6      Café      1092.87      1060.65     True
7      Ouro       321.77       322.29    False
8     Trigo      1549.11         0.00     True
9   Tilápia         9.05         9.79    False